  <nav class="navbar navbar-expand-lg navbar-light sticky-top d-flex justify-content-between">
    <a class="navbar-brand" href="{{ path('app_landing') }}">
        <img src="{{ asset('/img/logo.png') }}" alt="L" style="width: 30px; height: 30px;">
        <img src="{{ asset('/img/EvaMol.png') }}" alt="E" style="height: 20px;">
    </a>
    <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon custom-toggler"></span>
    </button>
    <div id="navbarNavDropdown" class="collapse navbar-collapse justify-content-between">
      <div>
      <ul class="navbar-nav">
          <li class="nav-item">
              <a class="nav-link" href="{{ path('app_pricing') }}">Pricing</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="{{ path('app_about') }}">About me</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="{{ path('app_contact') }}">Contact me</a>
          </li>
      </ul>
      </div>
    <div>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <div class="navbar-collapse">
        <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink">
                <img src="{{ asset('/img/avatar/' ~ app.user.students.first.avatar) }}" alt="A" style="width: 24px; height: 24px;">
                {{ app.user.username }}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="{{ path('app_account') }}">Account</a>
                <a class="dropdown-item" href="{{ path('app_calendar') }}">Lessons</a>
                <a class="dropdown-item" href="{{ path('app_logout') }}">Logout</a>
            </div>
        </div>
    </div>
    {% else %}
        <div class="navbar-collapse justify-content-end" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/register">Register</a>
                </li>
            </ul>
        </div>
    {% endif %}
    </div>
    </div>
  
</nav>

<script>
document.querySelector('.dropdown').addEventListener('click', function (event) {
    event.stopPropagation();
    this.classList.toggle('show');
    var dropdownMenu = this.querySelector('.dropdown-menu');
    if (dropdownMenu.classList.contains('show')) {
        dropdownMenu.classList.remove('show');
    } else {
        dropdownMenu.classList.add('show');
    }
});

window.addEventListener('click', function (e) {
    var dropdown = document.querySelector('.dropdown');
    if (!dropdown.contains(e.target)) {
        dropdown.classList.remove('show');
        dropdown.querySelector('.dropdown-menu').classList.remove('show');
    }
});
</script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
